<ion-content class="has-footer">
    <ng-include src="sensorExplanationText"></ng-include>
</ion-content>
<ion-footer-bar class="no-bgColor intro-footer">
    <div class="row" translate-namespace="consent">
      <div class="col" style="margin-right: 5px">
          <button class="button button-block button-assertive button-outline consent-button" ng-click="disagree()"><span translate>{{'tracemob.consent.button-decline'}}</span></button>
      </div>
      <div class="col" style="margin-left: 5px">
          <button class="button button-block button-positive button-outline consent-button" ng-click="agree(true)"><span translate>{{'tracemob.consent.button-accept'}}</span></button>
      </div>
    </div>
</ion-footer-bar>
